* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "rubik", sans-serif;
   font-family: 'playfair', serif;

}
body{
      background-color: rgba(194, 220, 233, 0.614);

}
@font-face {
   font-family: "rubik";
   src: url(./resources/Rubik/Rubik-VariableFont_wght.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "playfair";
   src: url(./resources/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
   font-style: normal;
}

header {
   nav {
      background-color: rgba(194, 220, 233, 0.614);
      /* position: relative; */

      ul {
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         padding: 15px 20px;
         font-size: 20px;

         li a{
            color: black;
            text-decoration: none;
         }
      }

      li#contact-link {
         position: relative;
         cursor: pointer;
      }

      li#contact-link:hover .contact {
         display: block;
      }

      div.contact {
         background-color: rgba(194, 220, 233, 0.614);
         display: none;
         width: 200px;
         border-radius: 20px;
         height: fit-content;
         padding: 20px;
         position: absolute;
         top: 60px;
         right: 0;
         text-align: center;


         b{
               display: block;
               margin-bottom: 10px;
         }
         
         a{
            color: darkolivegreen;
            text-decoration: none;
            display: inline-block;
            padding: 5px;

            i{
               font-size: 30px;
            }
            
         }
      }
   }
}

main {
   /* padding: 100px 0; */
   border: 1px solid rgba(74, 71, 71, 0.406);
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-radius: 20px;
   background-color: #fff;

   h1 {
      font-size: 72px;
      text-align: left;
      margin: 100px 100px;
      /* border: 1px solid; */
   }

   h1,h2,h3,h4,h5,h6 {
      /* font-family: 'playfair', serif; */
      /* /* font-family: 'rubik', sans-serif;  */
      font-weight: normal;
      
   }

   h2 {
      font-size: 48px;
   }

   h3 {
      font-size: 36px;
   }

   p {
      font-size: 18px;
   }
}

img {
   width: 100%;
}

.headers {
   text-align: center;
   /* margin-bottom: 40px; */
}

section.work {
   .project{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* margin-bottom: 100px; */


      .column {
         width: 50%;
         /* border: 2px solid green; */
      }
      .column:nth-child(2){
         padding: 0 50px;
      }
   }
   
   .project#restaurant{
      padding: 100px 100px 100px 200px;
   }
   .project#plasma{
      padding: 100px 200px 100px 100px;
   }

   hr{
      /* display: block; */
      border: 1px solid #f3e8e898;
      margin: 0 200px;
   }

   .view-more {
      line-height: 1.5em;
      padding: 6px 28px 8px 28px;
      border-radius: 30px;
      margin-top: 24px;
      background-color: #000;
      color: #fff;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      font-size: 18px;
      border: none;
      display: inline-block;
      text-decoration: none;

      &:hover {
         background-color: navajowhite;
         color: black;
      }
   }
}

/* section.gallery {
   border: 1px solid;
} */

footer {
   display: flex;
   justify-content: center;
   /* border: 1px solid; */

   a {
      text-decoration: none;
      color: grey;
   }
}