*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tree{
    border: 1px solid brown;
    padding: 20px 0px;
    width: 500px;
    height: auto;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.leaf-rounded{
    width: 500px;
    height: 200px;
    border: 1px solid green;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
.rounded{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: greenyellow;
}
.leaves{
    width: calc(500px - 0%);
    display: flex;
    justify-content: space-around;
    border: 1px solid black;

}
.leaf{
    border: 5px solid green;
    height: 200px;
    flex-shrink: 0;
}

.branches{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.branch1,.branch2, .branch3, .branch4{
    border: 10px solid rgb(63, 50, 7);
    height: 100px;
    width: 10px;
    border-radius: 5px;
    top: 0;
    position: absolute;
}
.branch1{
    transform: rotate(-20deg);
    left: 0;
    margin-left: 55px;
}
.branch2{
    transform: rotate(20deg);
    right: 0 !important;
    margin-right: 55px;
}
.branch3{
    top: 100px;
    transform: rotate(-20deg);
    margin-left: 140px;
}
.branch4{
    bottom: 300px;
}

.stem{
    width: 180px;
    height: 500px;
    border: 1px solid rgb(44, 2, 2);
    margin-top: 200px;
}